
body{
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.content{
    background-color: #5d3d3d85;
    backdrop-filter: blur(06px);
    border-radius: 20px;
    height: 310px;
    text-align: center;
    margin: 8%;
    margin-top: 13%;
    font-size: 20px;
    font-weight: 600;
    font-family: cursive;
    color: black;
    padding-top: 50px;
    

}
#new-quote{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 80px;
    background-color: rgba(212, 94, 202, 0.755);
    border: 1px solid rgb(235, 78, 222);
    font-weight: 900;
    color: #fff;
    transition: .3s;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}
#new-quote:hover{
    background-color: #fff;
    color: rgb(235, 78, 222)
}
#new-quote:active{
    background-color: rgba(235, 78, 222, 0.234);
}